@import '../../scss/variables';

.main {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow: auto;
    overflow-x: hidden;
    &__content-paragraph {
        margin-bottom: 30px;
    }
}