@import '../../scss/variables';

.log-info {
    color: #fff;
    font-weight: $font-bold;
    & span {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            background-image: url('../../assets/images/login.svg');
            left: -64px;
            top:-14px;
            width: 48px;
            height: 48px;
        }
    }

    &.mobile {
        display: none;
    }
    @media (max-width:600px) {
        &.desctop {
            display: none;
        }
        &.mobile {
            display: block;
            text-align: center;
            padding: 30px 0;
            background-color: $background;
      
        }
    }
}