@import  '../../scss/variables';


.menu__item {
    &-img {
        margin-right: 16px;
    }
    &-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 24px 0 24px $padding-inner-left;
        &.nested {
            padding-left: 80px;
        }
        &:hover {
            border: 2px solid $background;
            
    
        }
        &.active {
            border: none;
            border-right: 6px solid $background;
            border-radius: 5px;
            outline: none;
            &:focus {
                outline: none;
            }
            &:hover {
                border: 2px solid $background;
                border-right: 6px solid $background;
                
            }
            
        }
    }
}

