@import '../../scss/variables';


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $background;
    padding:16px $padding-inner-right 16px $padding-inner-left;
    color:#fff;
    font-weight: $font-bold;
    &__link {
        text-decoration: none;
        color: #fff;
    }
    &__logo {
        display: flex;
        align-items: center;
 
        &-img {
            height: 48px;
            width: 48px;
            margin-right: 24px;
        }
    }
    @media (max-width:600px) {
        justify-content: center;
    }



}