@import '../../scss/variables';

.nav {
    border-right: $back-border;
    box-shadow: $box-shadow;
    height: 100%;
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    color: #1C1C1E;
    padding-top: 24px;
    &__title {
        font-weight: $font-bold;
        margin-bottom: 8px;
        padding-left: $padding-inner-left;
    }

    &__menu {
        width: 300px;   
    }
    &__hamburger {
        display: none;
    }
    
    @media(max-width: 768px) {
        max-height: 100%;
        &__title {
            display: none;
        }
        &__menu {
            width: auto;
        }
        &__hamburger {
            display: block;
            cursor: pointer;
            margin-bottom: 32px;
            & .bar {
                display: block;
                width: 32px;
                height: 3px;
                margin: 5px auto;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: #101010;
            }

        }
        &.toggle {
           
            .nav__menu {
                width: 100vw;
                display: flex;
                flex-direction: column;
                align-items: center;

            }
            .nav__hamburger {
                position: relative;          
                left: 40%;

            }
            .nav__hamburger .bar:nth-child(2) {
                opacity: 0;
            }
        
            .nav__hamburger .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
        
            .nav__hamburger .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }
}