@import '../../../scss/variables';

.search__btn {
    background-color: $background;
    color: #fff;
    
    padding: 19px 40px;
    border-radius: 10px;
    display: flex;
    &-text {
        font-weight: $font-bold;
        font-size: 26px;
        line-height: 32px;
        margin-left: 16px;

    }
    @media (max-width:960px) {
        margin: 20px 0;
    }
    @media (max-width:600px) {
 
        padding: 7px 10px;
    }
}