$background:#4F27BF;
$padding-inner-left: 32px;
$padding-inner-right:36px;
$font-thin:500;
$font-medium:600;
$font-bold:700;

$back-border: rgba(255, 255, 255, 0.05);
$box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);