@import './_reset';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.App {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 24px;
}

.container {
    display: flex;
}

.content {
    flex-grow: 1;
    flex-basis: 1;
    padding: 0 32px;
}


.title {
    font-weight: $font-bold;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 16px;
    margin-top: 32px;
}