@import './_reset';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    height: 127px;
    background-color:blue;
  }
  
  ::-webkit-scrollbar-track {
    width: 0;
  }


.App {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 24px;
    
}

.container {
    display: flex;
}

.content {
   padding: 0 32px;
   width: 100%;
   @media (max-width:600px) {
       padding: 0 10px;
   }
}


.title {
    font-weight: $font-bold;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 16px;
    margin-top: 32px;
}

.subtitle {
    margin-bottom: 24px;
}